.judul {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    text-align: center; 
    margin: 0 auto;
}

table, tr, td {
    border: 1px solid black;
}
tr, td {
    padding: 10px;
}

input {
    background-color: rgb(255, 255, 200);
    margin: 10px;
}
